
/* == 主题颜色 == */

$primary-color: #3387FF;
$second-color: #Fc9c6F;
$paint-color: #28D1A2;


/* == 公共颜色 == */
$wizard-grey: #535c68;
$carmine-pink: #eb4d4b;
$white-color: #ffffff; // 白色
// $red-color: $primary-color; // 红色
// $orange-color: $warn-color; // 橙色
// $green-color: $success-color; // 绿色
$black-color: #333333; // 黑色
$black-accent-color: #606266; // 淡黑色
$gray-color: #f1f2f6; // 灰色
$gray-accent-color: #f7f7f7; // 淡灰色
$grey-color: #cccccc; // 次级字体颜色
$purple-color: #8854d0; // 紫色
$cyan-color: #0fb9b1; // 青色
$blue-color: #4b7bec; // 蓝色
$pink-color: #f78fb3; // 粉红色
$yellow-color: #FFD760; // 黄色
$yellow-accent-color: #FFF4E7; // 淡黄色





